css .display-block {
  display: block;
}

.display-none {
  display: none;
}

.UserInformation {
  color: #eeeeee;
  height: auto;
  font-size: 13px;
}
.UserInformation2 {
  color: #eeeeee;
  height: auto;
  font-size: 13px;
  margin-top: 0px;
  padding: 15px;
}

.userDetailsButtonCancel {
  margin: auto;
  text-align: center;
  padding: 30px;
  color: white;
  border: none;
  background-color: #0c0f13;
}
.userDetailsButtonDelete {
  margin-left: 40px;
  text-align: center;
  padding: 30px;
  color: rgb(247, 70, 70);
  border: none;
  background-color: #0c0f13;
}
