.button {
    background-color: #1F5673; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position:relative;
    top: -60px;
    left:280px;
    right: 80px;
    bottom:100px;
    
  }
  .Usernamebox{

  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  align-items: left;

  
}
.MemberProfile{
  background-color: #282c34; 
  border: 2px solid #1F5673;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  padding: 15px 30px;
  text-align: centre;
  display: inline-block;
  font-size: 16px;
  align-items: left;
  margin: 20px ;

}
.fullName{

  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  align-items: left;
}

.userprofile {
    width: 100px;
    height: 100px;
    background-image: url(../images/user-profile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.error{

  color: red;
  
}