.MembersPage {
    position: absolute;
    background-color: transparent;
    border-color: aliceblue;
    max-width: 78%;
    min-width: 60%;
    padding-left: 8%;
}

.MembersTable {
    position: relative;
    table-layout: fixed;
    width: 100%;
}

td.MembersPageTitle {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: #1F5673;
    border-style: solid;
}



h2 h4 {
    color: #EEEEEE;
}

.button {
    background-color: #1F5673; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-flex;
    font-size: 16px;
    border-radius: 8px;
    position:relative;
    left: 20px;
    width: 10%;
}

.Usernamebox{

  width: 80%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  align-items: left;

  
}

.error{

    color: red;
    
  }

.MemberProfile{
  background-color: #282c34; 
  border: 2px solid #1F5673;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  align-items: center;
  display: inline-block;
  font-size: 16px;
  align-items: left;
  margin: 20px;
  font-family: Roboto, sans-serif;
}

.userProfile {
    padding-top: 10%;
    width: 40%;
    max-height: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

p.info {
    font-size: 11px;
    text-align: center;
    float: center;
    
}


