.MembersPage {
    position: absolute;
    top: 100px;
    left: 25%;
    background-color: transparent;
    border: 5px;
    border-color: aliceblue;
    border-radius: 10px;
    border-style: none;
    max-width: 100%;
}

.MembersTable {
    position: relative;
    table-layout: fixed;
    width: 100%;
}

td.MembersPageTitle {
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: #1F5673;
    border-style: solid;
}


table.MembersModule {
    margin-top: 60px;
    border-color: #1F5673;
    border-radius: 8px;
    border-style: solid;
    background-color: #23242A;
    text-align: center;
}

h2 h4 {
    color: #EEEEEE;
}

.user_profile {
    width: 100%;
    height: 100%;

    float: left;
}

.button {
    background-color: #1F5673; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    position:relative;
    left: 20px;
    width: 10%;
}

.Usernamebox{

  width: 80%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  align-items: left;

  
}

.MemberProfile{
  background-color: #282c34; 
  border: 2px solid #1F5673;
  width: 250px;
  height: 250px;
  border-radius: 8px;
  padding: 15px 30px;
  text-align: centre;
  display: inline-block;
  font-size: 16px;
  align-items: left;
  margin: 20px ;

}

.fullName{

  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  box-sizing: border-box;
  align-items: left;
}

.userprofile {
    width: 100px;
    height: 100px;
    background-image: url(../images/user-profile.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

td.MembersCells {
    border-style: none;
    width: 20%;
    margin-right: 20px;
    height: 150px;
}

.error{

  color: red;
  
}
