body {
    background-color: #0C0F13;
}

.title {
    font-size: 45px;
    margin-top: 20%;
}

.subheading {
    font-size: 18px;
}

.title, .subheading, button {
    color: #EEEEEE;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.HomeButton {
    position: relative;
    background-color: #1F5673;
    border-radius: 8px;
    border-color: #1F5673;
    border-width: 5px;
    font-size: 18px;
    padding: 5%;
    width: 40%;
    height: 100%;
    border-style: solid;
    cursor: pointer;
}