.PaymentList {
	color: #EEEEEE;
	font-size: 12px;
}

.PaymentList h5, .PaymentList h6 {
	font-weight: bold;
	font-size: 12px;
	text-align: left;
}

.PaymentContainer {
	text-align: left;
	background-color: #1E1F26;
	padding: 20px 20px 10px 20px;
	margin: 12px 0;
	border-radius: 8px;
	border: 2px solid #1F5673;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.PaymentContainer h6 {
	margin-bottom: 20px;
}

.PaymentContainer div p {
	line-height: 5px;
}

.PaymentContainerRight {
	text-align: right;
}