.modal-content {
  background-color: #0C0F13;
  justify-content: center;
  border: 2px solid #1F5673;
  width: 375px;
}


.modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-footer{
  padding-top: 20px;
  margin: 20px;
}

h1 {
	color: #FFFFFF;
	left: 50%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.modal-body{
  color: #656E79;
  margin-left: 20px;
  margin-right: 20px;
}

.InputTable {
  position: relative;
  table-layout: fixed;
  height: 10%;
  width: 100%;
  border-collapse: collapse !important;
  line-height: 1px !important;
}

span.DeleteButton {
  position: absolute;
  bottom: 0px;
  left: 170px;
  margin:15px;
}

button.DeleteButton {
  background-color: #0C0F13;
  border-style: none;
}

span.EditButton {
  position: absolute;
  bottom: 0px;
  left: 120px;
  margin:15px;
}

button.EditButton {
  background-color: #0C0F13;
  border-style: none;
}

span.PaidButton {
  float: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin:15px;
}

button.PaidButton {
  position: relative;
  float: right;
  height: 30px;
  width: 70px;
  background-color: #1F5673;
  color: #EEEEEE;
  border-style: none;
  border-radius:5px;
}

span.CrossButton {
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
  margin:15px;
  width: 10px;
}

button.CrossButton {
  position: absolute;
  float: left;
  background-color: #0C0F13;
  border-style: none;
}

img.cross-image{
  width: 10px;  
  height: 10px;
}

img.delete-image{
  width: 25px;  
  height: 25px;
}

img.edit-image{
  width: 25px;  
  height: 25px;
}

label.AmountLabel{
  font-size: 12px;
}

label.Amount{
  font-size: 12px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
}


label.StartDateLabel{
  font-size: 12px;
  float: right;
}

label.StartDate{
  text-align: right;
  width: 100%;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
}

label.PaidToLabel{
  font-size: 12px;
}

label.PaidTo{
  font-size: 12px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
}

label.EndDateLabel{
  font-size: 12px;
  float: right;
}

label.EndDate{
  text-align: right;
  width: 100%;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
}

label.AccountLabel{
  font-size: 12px;
}

label.Account{
  font-size: 12px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
}

label.FrequencyLabel{
  font-size: 12px;
  float: right;
}

label.Frequency{
  text-align: right;
  width: 100%;
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
}

label.ContributorsPendingLabel{
  font-size: 12px;
}

label.ContributorsPending{
  font-size: 12px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
}

label.ContributorsPaidLabel{
  font-size: 12px;
}

label.ContributorsPaid{
  font-size: 12px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
}

label.DescriptionLabel{
  font-size: 12px;
}

label.Description{
  font-size: 12px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 20px; 
  display: inline-block;
  color: #EEEEEE;
} 
