.login-backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
    
    z-index: -2;
    
    background: rgb(142,220,230);
    background: linear-gradient(180deg, rgba(142,220,230,1) 0%, rgba(31,86,115,1) 100%);
}

.login-container {
    width: 400px;
    height: 500px;
    
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    padding: 50px;
    padding-top: 80px;

    border-radius: 8px;

    color: #EEEEEE;
    background-color: #0C0F13;
}

.login-icon {
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;

    background-color: white;

    margin-bottom: 1em;
}